<div class="container mt-4">

  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-4">Welcome to Code Breaker</h1>
      <h2 class="text-center mb-6"><%= @name %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 mt-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Enter OTP-4 Pin Code</h5>
              <form class="row g-3" action="/" method="POST">
                <div class="col-3">
                  <input type="text" class="form-control text-center" maxlength="1" pattern="[0-9]" required name="g1">
                </div>
                <div class="col-3">
                  <input type="text" class="form-control text-center" maxlength="1" pattern="\d" required name="g2">
                </div>
                <div class="col-3">
                  <input type="text" class="form-control text-center" maxlength="1" pattern="\d" required name="g3">
                </div>
                <div class="col-3">
                  <input type="text" class="form-control text-center" maxlength="1" pattern="\d" required name="g4">
                </div>
                <div class="col-12 mt-3">
                  <button type="submit" class="btn btn-primary w-100" id="guess">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <% if @message %>
      <div id="repeated_number">
        <%= @message %>
      </div>
      <% end %>

      <% if @win == false && @attemps == 0 %>
      <form action="/try_again" method="get">
        <button type="submit" id="try_again" class="btn btn-primary">Try Again</button>
      </form>
      <% end %>

      <% if @results %>
        <p id="output"><%= @guess %></p>
        <% if @win %>
          <p id="message">You win! and your score is <%= @attemps + 1 %></p>
        <% else %>
          <p id="message"><%= @attemps >= 1 ? 'Try again!' : 'Game Over!' %></p>
        <% end %>
        <ul id="results">
        <% @results.each do |result|%>
          <li><%= "#{result[:attemp]} - #{result[:guess]}" %></li>
        <% end %>
        </ul>
      <% end %>

    </div>
    <div class="col-4">
      <table>
      <thead>
        <tr>
          <th>Top 10 players</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>Score</td>
        </tr>
      </tbody>
      <tbody>
        <% @data.each do |row| %>
          <tr>
            <td><%= row[0] %></td>
            <td><%= row[1] %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>
