<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CodeBreaker Game</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Stage</h1>
  <h2>Welcome <%= @name %></h2>
  <form action="/" method="POST">
    <label for="guess">Enter your guess:</label><br>
    <input type="text" id="input" name="guess" autofocus><br>
    <input type="submit" id="guess" value="Guess">
  </form>
  <% if @win == false && @attemps == 0 %>
  <form action="/try_again" method="get">
    <button type="submit" id="try_again" class="btn btn-primary">Try Again</button>
  </form>
<% end %>

  <% if @results %>
    <p id="output"><%= @guess %></p>
    <% if @win %>
      <p id="message">You win! and your score is <%= @attemps + 1 %></p>
    <% else %>
      <p id="message"><%= @attemps >= 1 ? 'Try again!' : 'Game Over!' %></p>
    <% end %>
    <ul id="results">
    <% @results.each do |result|%>
      <li><%= "#{result[:attemp]} - #{result[:guess]}" %></li>
    <% end %>
    </ul>
  <% end %>

  <table>
  <thead>
    <tr>
      <th>Top 10 players</th>      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td>Score</td>
    </tr>
  </tbody>
  <tbody>
    <% @data.each do |row| %>
      <tr>
        <td><%= row[0] %></td>
        <td><%= row[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</body>
</html>

